[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "emstreeR"]
	path = emstreeR
	url = https://github.com/allanvc/emstreer
[submodule "mRpostman"]
	path = mRpostman
	url = https://github.com/allanvc/mrpostman
[submodule "onlineretail"]
	path = onlineretail
	url = https://github.com/allanvc/onlineretail
