[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "emstreeR"]
	path = emstreeR
	url = https://github.com/allanvc/emstreer
	shallow = true
	registered = true
[submodule "onlineretail"]
	path = onlineretail
	url = https://github.com/allanvc/onlineretail
	shallow = true
	registered = true
